<!DOCTYPE html>
<html>

<head>
    <title>
        About
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Group Members
    </h1>
    <p>
        Steve Wang&emsp;Github Link: <a href="https://github.com/Yell0wF1sh">https://github.com/Yell0wF1sh</a>
    </p>
    <p>
        QiuYang Wang&emsp;Github Link: <a href="https://github.com/Billy-FIN">https://github.com/Billy-FIN</a>
    </p>
    <p>
        ShenTong Rao&emsp;Github Link: <a href="https://github.com/Shentongr">https://github.com/Shentongr</a>
    </p>
</body>

</html>