<!DOCTYPE html>
<html>
<% title="COSI PA04" %>

  <head>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <p>Author: Steve Wang</p>
  </body>

</html>